.contact-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-row .col1-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact-row .contact-title {
    font-size: 2.25rem;
}

.contact-form {
    width: 100%;
}

.contact-form .form-input {
    padding: 1rem .75rem;
    line-height: 1.5;
    color: black;
    background-color: white;
    border-radius: 0 !important;
    border: 1px solid black;
}

.contact-form input.form-input {
    margin-bottom: 2em;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.contact-form textarea {
    width: 100%;
}

.form-input {
    padding: 1.2rem .75rem;
    line-height: 1.5;
}

.form-btn {
    border: 2px solid #17C3B2;
    border-radius: 5px;
    padding: 0.5rem 1.8rem;
    margin-top: 1.5rem;;
    background-color: #17C3B2;
    color: white;
}

.form-btn:hover {
    background-color: #00efd7;
    color: #111;
}

@media screen and (max-width: 768px) {  
    .contact-row {
        grid-template-columns: 1fr;
    }
}