@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 6rem 0 2rem;
    animation: transitionIn 0.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
        transition: all 400ms ease-out;
    }
}

.section-title {
    font-size: 2.25rem;
    text-align: center;
}

.section-subtitle {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 4rem;
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

@media screen and (max-width: 992px) {
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}


@media screen and (max-width: 767px) {
    .section {
        padding: 2rem 0 4rem;
    }
}

@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}